body{
    background: rgb(169,131,131);
background: linear-gradient(90deg, rgba(169,131,131,1) 30%, rgba(228,183,110,1) 100%);
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 46, 31);
    border: 4px solid rgb(255, 237, 237);
    height: 10vh;
    border-width: thin;

}

.inputContainer{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    border: 4px solid rgb(255, 237, 237);
    background-color:bisque

}
.inputContainer input{
    height: 20px;
    width: 40%;
}

.inputContainer label{
    height: 30px;
    width: 30%;
    background-color: rgb(214, 159, 95);
    text-align: center;
    border-radius: 5%;
    font-weight: bold;
    border: 2px solid black;
    font-size: large;
    
}

.inputContainer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ButtonContainer{
    display: flex;
    padding: 3rem;
    justify-content: center;
    height: 90%;
}

#ButtonContainer button{
  background-color: rgb(214, 159, 95);
  border: 2px solid rgb(226, 215, 215);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50% 50% 50% 50%;
}

.books-table{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid rgb(210, 200, 200);
    height: 50vh;
}

.books-table td, .books-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: rgb(69, 63, 63);
}

.books-table tr:nth-child(even){background-color: rgb(168, 168, 206)}
.books-table tr:hover {background-color:rgb(168, 168, 206)}

.books-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(214, 159, 95);
    color: white;
}

.books-table td{
    font-weight: bold;
}

@media only screen and(max-width: 564px)
{
    .books-table th{
        display: block;
    }
}

